<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Eas's Blog{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    </head>
    <body>

    {{include ('components/boot.html.twig')}}
    {{include ('components/nav.html.twig')}}
        {% block body %}{% endblock %}
    </body>
</html>
